@{
    ViewData["Title"] = "Home Page";
}
<main>
    <p>@ViewData["picture"]</p> 
    <section>
        <article>
           <h4>@ViewData["Article-1-heading"];</h4>
           <p>@ViewData["Article-1-body"];</p>
        </article>
       
        <article>
           <h4>@ViewData["Article-2-heading"];</h4>
           <p>@ViewData["Arcitle-2-Body"];</p>
        </article>
        
        </section>
        
</main>

