@{
    ViewData["Title"] = "References";
}
<main>
    <section>
        
           <h1>@ViewData["ref"];</h1>      
        
        </section>
    <form asp-controller="Home" asp-action="References" method="post">
       <input type="text" name = "message" placeholder="Message" /><br />
       <input type="text" name = "name" placeholder="Name" /><br />
       <input type="email" name = "email" placeholder="Email"/> <br />
       <input type="text" name = "website" placeholder="Website Link URL"/> <br />
       <button type="submit">Add Message</button>
    </form>
<div>
    @model List <Reference>
        @foreach(var item in Model)
        {
            <p>@item.Message - @item.Name</p>
            <p>Email - @item.Email Website - @item.Website</p>
        }
</div>
        
</main>
